--- 

    name: build & deploy

    # trigger
    on:
        workflow_dispatch:
        push:
            branches:
                -main

    jobs:
        build:
            runs-on: ubuntu-latest
            steps:
              - name: checkout repository
                uses: actions/checkout@v4

              - name: Setup Go
                uses: actions/setup-go@v5
                with:
                    go-version: '1.23.x'

              - name: Install dependencies
                run: |
                  go mod init cowsay
                  go mod tidy
              - name: Build
                run: go build -o -v ../main.go



        # deploy:
        #     needs: build
        #     runs-on: ubuntu-latest
        #     steps: